* {
  outline: 1px solid lightcoral;
}

.welcome {
  margin: 0 auto;
  display: block;
  width: 50vw;
}

.welcome h4 {
  text-align: center;
}


/*******************************************************/


.board-area {

}

.board {

  display: block;
  margin: 0 auto;
}
.board-cell {
  height: 10px;
  width: 10px;
  background-color: #ebedf0;

}

/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */
/* Grid-related CSS */

.squares {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(7, 10px);
  grid-auto-flow: column;
  grid-auto-columns: 10px;
  grid-area: squares;

}

/* 
background-color: #ebedf0;
background-color: #c6e48b;
background-color: #7bc96f;
background-color: #196127; 
*/
