* {
  outline: 1px solid lightcoral;
}

.welcome {
  margin: 0 auto;
  display: block;
  width: 50vw;
}

.welcome h4 {
  text-align: center;
}


/*******************************************************/


.board-area {
  height: 30vh;
}

.board {
  display: block;
  margin: 0 auto;
  width: 669px;
  height: 104px;
  display: grid;
  
}
.board-cell {
  height: 10px;
  width: 10px;
  background-color: #ebedf0;
}